body {
	background: #f0f0f0;
	font-family: arial, sans-serif;
}

.link {
	background: #abcdef;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 8px;
	padding-left: 16px;
	margin-bottom: 16px;
}
